# System and temporary files
AppData/
Creative Cloud Files Personal Account*/
Local Settings/
My Documents/
Documents/
Downloads/
Desktop/
IntelGraphicsProfiles/
.config/
.cursor/
.claude/

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Node modules
node_modules/
npm-debug.log*

# VS Code
.vscode/